.ProductFilterHeadings{
	margin-bottom: 1rem;
}
.FiltersList{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 2.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.ProductFilterText{
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--g-color-1);
}

.ProductSelectedOption{
	font-size: 1.6rem;
	font-weight: 600;
	color: #222;
}

.ProductSelectItem{
	border-radius: 24px;
	width: 64px;
	height: 72px;
	padding: 1rem 2rem;
	border: 2px solid var(--g-color-1);
	background-color: var(--s-color);
	cursor: pointer;
	position: relative;
	transition: all 0.5s;
	&:hover{
		border-color: var(--t-color);
	}
	&__selected{
		border: 3px solid var(--t-color);
	}

	&__not_in_stock{
		background-color: var(--g-color-1) !important;
	}

}

.ProductSizeBtn{
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--p-color);
	text-transform: uppercase;
}




.ColorFilter{
	display: flex;
	align-items: center;
	background: transparent;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	padding: 0.5rem;
	width: 64px;
	height: 72px;
	position: relative;
	transition: all 0.3s;
	border: 2px solid transparent;
	&:hover{
		border: 2px solid var(--t-color);
	}
	& > img{
		border-radius: 8px;
	}
	&__selected{
	border: 2px solid var(--t-color);
	}
}

.BasketContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1rem;
}

.AddToCart{
		width: 100%;
		color: #F1F3F5;
		font-size: 16px;
		font-weight: 500;
		border-radius: 50px;
		background-color: var(--t-color);
		padding: 12px 48px;
		transition: background-color .2s ease-in-out;
		margin-top: 2rem;

		&:hover {
			transition: background-color .2s ease-in-out;
			background-color: var(--t-color-2);
		}
		&__finised{
			background-color: var(--w-color-1);
			&:hover{
				background-color: var(--w-color-2);
			}
		}
	
}