.CartCount {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--s-color);
    width: 100%;
    min-width: 5rem;
    height: 24px;
    position: relative;
    margin-right:3rem;
  }
  
  .CartCount::before {
    background-color: var(--s-color);
    content: '';
    height: 100%;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
  }
  
  .CartCount:hover::before {
    transition: background-color 0.2s ease-in-out;
    background-color: #9466FF;
  }
  
  .CartCount:hover {
    transition: color 0.2s ease-in-out;
    color: #9466FF;
  }
  
  
  .CartCount::before {
    -webkit-mask: url(/img/cart.svg) no-repeat 50% 50%;
    mask: url(/img/cart.svg) no-repeat 50% 50%;
  }